terraform {
  backend "s3" {
    bucket         = "REPLACE_ME-terraform-state"
    key            = "portfolio/prod/terraform.tfstate"
    region         = "eu-west-3"
    encrypt        = true
    dynamodb_table = "REPLACE_ME-terraform-locks"
  }
}
